.numeric {
    -fx-background-color: #f2f2f2; /* Fondo gris claro */
    -fx-padding: 10px; /* Padding de 10px */
    -fx-margin: 5px; /* Margen de 5px */
}

/* Estilo para botones de operadores (÷, x, -, +) */
.operator {
    -fx-background-color: #98FF98; /* Fondo verde menta */
    -fx-padding: 10px; /* Padding de 10px */
    -fx-margin: 5px; /* Margen de 5px */
}

/* Estilo para la pantalla de la calculadora */
.tfVisor {
    -fx-background-color: white; /* Fondo blanco */
    -fx-font-size: 24px; /* Tamaño de la fuente */
}

/* Efectos de hover y pressed para los botones */
.numeric:hover, .operator:hover {
    -fx-background-color: white; /* Cambia el color al pasar el ratón */
}

.numeric:pressed, .operator:pressed {
    -fx-background-color: grey; /* Cambia el color al ser pulsado */
}